### Read CSV files

In [1]:
import pandas as pd

#to skip the first row or header in the csv file
# df = pd.read_csv("stock_data.csv",header=1) 

#to skip the first row or header in the csv file
#df = pd.read_csv("stock_data.csv",skiprows=1)

#if the given csv file doesn't contain any headers and we know the names of headers the we can use the below code
# df = pd.read_csv("stock_data.csv",header=None, names=["ticker","eps","revenue","price","people"])

#if we want to read only particular number of rows from the many rows in CSV files we can use bleow code
#df = pd.read_csv("stock_data.csv", nrows=3)

#if we wish to change the "not available" , "n.a." and -1 values in the csv files to NaN depending on the particualar column what we wish to change can be 
#represented using dictionary
df = pd.read_csv("stock_data.csv", na_values={
    'eps' : ["not available","n.a."],
    'revenue' : ["not available","n.a.",-1],
    'people' : ["not available","n.a."]
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [2]:
#To print the names of columns in CSV files
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [3]:
#To get only particular number of columns from the csv files and creation of new csv file
# df.to_csv("new.csv",columns=['tickers','eps'])

#To remove the headers and creation of new csv file
df.to_csv("new.csv",header=False)

### Reading Excel files

In [4]:
#fucntions to convert the missing values in the column to required data

import pandas as pd
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'sam walton'
    return cell
def convert_eps_cell(cell):
    if cell=="not available":
        return None
    return cell
    
df = pd.read_excel("stock_data.xlsx","Sheet1",converters={
    'people': convert_people_cell,
    'eps': convert_eps_cell
    })
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [5]:
#convertion of dataframe to new excel sheet with sheetname is stocks and defining the starting row and column, stop showing index values by giving the index = False
df.to_excel("new.xlsx",sheet_name="stocks",startrow=1, startcol=2,index=False)

In [6]:
#creation of dataframe
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [7]:
#cretion of excel file with two different sheets by converting dataframe to excelsheet
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer,sheet_name="stocks")
    df_weather.to_excel(writer,sheet_name="weather")